/* About.css */

#about h2 {
  font-size: 2.5rem;
  color: #212529;
}

.card {
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
}
.card-custom-bg {
  background-color: #f7f7f77c; /* soft gray */
}